{% spaceless %}
    <div id="{{ grid_id }}" style="{{ style }}"
         class="{{ grid_class }}"></div>

    <script type="text/javascript" charset="utf-8">
        (() => {
            if (!Object.hasOwn(window, 'djCellConfig'))
                window['djCellConfig'] = {}
            if (!Object.hasOwn(window, 'djCellRenderer'))
                window['djCellRenderer'] = {}
            if (!Object.hasOwn(window, 'djGridOptions'))
                window['djGridOptions'] = {}
            const columnDefs = [{% for row in column_defs %}{
                    {% for key, value in row.items %}
                        {% if key != 'placeholder' %}
                            {{ key|safe }}: "{{ value|safe }}"{% if not forloop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}];

            columnDefs.forEach(colDef => {
                if (window['djCellRenderer'].hasOwnProperty(colDef.field))
                    colDef.cellRenderer = window['djCellRenderer'][colDef.field];
                if (window['djCellConfig'].hasOwnProperty(colDef.field))
                    Object.assign(colDef, window['djCellConfig'][colDef.field])
            });

            const defaultColDef = JSON.parse('{{ default_col_def|safe }}');
            const additionalSettings = JSON.parse('{{ additional_settings|safe }}');
            const localeText = {{ locale_text|safe }};
            const gridOptions = {
                columnDefs,
                defaultColDef,
                localeText,
                ...additionalSettings,
                ...window['djGridOptions']
            }

            const dataSource = {
                getRows: function (params) {
                    let filtering = encodeURIComponent(JSON.stringify(params.filterModel));
                    let sorting = encodeURIComponent(JSON.stringify(params.sortModel));

                    let startRow = params.startRow;
                    let endRow = params.endRow;

                    let url = `{{ url_path }}?startRow=${startRow}&endRow=${endRow}&filter=${filtering}&sort=${sorting}`;
                    window.agGrids['{{ grid_id }}'].setGridOption('loading', true)
                    fetch(url)
                        .then((response) => response.json())
                        .then((data) => {
                            params.successCallback(data.rows, data.totalRows);
                            window.agGrids['{{ grid_id }}'].setGridOption('loading', false)
                        })
                        .catch((err) => {
                            params.failCallback();
                            window.agGrids['{{ grid_id }}'].setGridOption('loading', false)
                        });
                },
            }
            const gridDiv = document.querySelector('#{{ grid_id }}')

            if (!Object.hasOwn(window, 'agGrids'))
                window.agGrids = {};

            window.agGrids['{{ grid_id }}'] = agGrid.createGrid(gridDiv, gridOptions);
            window.agGrids['{{ grid_id }}'].setGridOption('datasource', dataSource)
        })();
    </script>
{% endspaceless %}